<configuration>
  <system.web>
    <httpRuntime maxRequestLength="81920" executionTimeout="3600" /> <!-- Noncompliant -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
