<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <pages xdt:Transform="Replace" validateRequest="false" /> <!-- Noncompliant {{Make sure disabling ASP.NET Request Validation feature is safe here.}} -->
    <pages xdt:Transform="Replace" validateRequest="true" />  <!-- OK -->

    <httpRuntime xdt:Transform="SetAttributes" xdt:Locator="Match(targetFramework)" targetFramework="4.8" requestValidationMode="0.0" />  <!--Noncompliant-->
    <httpRuntime xdt:Transform="SetAttributes" xdt:Locator="Match(targetFramework)" targetFramework="4.8" requestValidationMode="4.5" />  <!-- OK -->
  </system.web>
</configuration>
