<configuration>
  <!-- httpRuntime should be inside system.web -->
  <httpRuntime maxRequestLength="81920" executionTimeout="3600" />
  <system.web>
  </system.web>
  <system.webServer>
    <security>
      <!-- requestLimits should be inside requestFiltering -->
      <requestLimits maxAllowedContentLength="83886080" />
      <requestFiltering>
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
