# top-most EditorConfig file
root = true

# Don't use tabs for indentation.
[*]
charset = utf-8
indent_style = space
insert_final_newline = false
trim_trailing_whitespace = true
# (Please don't specify an indent_size here; that has too many unintended consequences.)

# Scripting files
[*.{ps1,bat,cmd}]
indent_size = 4

# C# code files
[*.{cs}]
indent_size = 4

# Java code files
[*.{java}]
indent_size = 2

# Pom files
[pom.xml]
indent_size = 2

# Xml project files
[*.{csproj,proj}]
indent_size = 2

# Xml config files
[*.{props,targets,ruleset,config,nuspec,resx,vsixmanifest,vsct}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# CSharp code style settings:
[*.{cs}]
# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true
