# Artifact packaged during build
src/main/resources/SonarAnalyzer.Scanner.zip
src/main/resources/static/SonarAnalyzer.zip
src/main/resources/static/SonarQube.MSBuild.Runner.Implementation.zip
src/main/resources/static/version.txt
src/main/resources/org/sonar/plugins/csharp/*.xml

# Maven
target/

# IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# Eclipse
.classpath
.project
.settings

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/

# NuGet
packages/

# Roslyn
*.sln.ide/

# SonarQube
.sonar/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# Visual Studio profiler files
*.psess
*.vsp
