# Maven
target/

# IntelliJ IDEA
*.iws
*.iml
*.ipr
.idea/

# Eclipse
.classpath
.project
.settings

# ---- Mac OS X
.DS_Store
Icon?
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# ---- Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini

# User-specific files + Visual Studio files
*.suo
*.user
*.sln.docstates
*.psess
*.vsp
.vs/

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
bld/
[Bb]in/
[Oo]bj/

# NuGet
packages/
*.nupkg

# Roslyn
*.sln.ide/

# SonarQube
.sonar/
.sonarqube/

# MSTest test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# rule-api temp artifacts
*.restext
/analyzers/src/SonarAnalyzer.CSharp/CBDE/windows
.generated/

# Analyzer binaries
analyzers/packaging/binaries/

# Actual SARIF files
analyzers/its/actual/

# MSBuild & other output
analyzers/its/output/

# Temporary diff folder
analyzers/its/diff/
