# Explanation of line ending settings:
# http://www.davidlaing.com/2012/09/19/customise-your-gitattributes-to-become-a-git-ninja/
# http://adaptivepatchwork.com/2012/03/01/mind-the-end-of-your-line/
# https://help.github.com/articles/dealing-with-line-endings/
# https://stackoverflow.com/questions/3206843/how-line-ending-conversions-work-with-git-core-autocrlf-between-different-operat

# Set the default behavior, in case people don't have core.autocrlf set.
# If the file exntesion is not on one of the lists below, git will use heuristic to determine whether the file is text or binary
* text=auto

# These files will have line endings normalized to LF in git repository.
*.bat           text eol=crlf
*.cmd           text eol=crlf
*.config        text eol=crlf
*.coveragexml   text eol=crlf
*.cs            text eol=crlf diff=csharp
*.css           text eol=crlf
*.csproj        text eol=crlf
*.editorconfig  text eol=crlf
*.html          text eol=crlf
*.java          text eol=crlf
*.json          text eol=crlf
*.md            text eol=crlf
*.msbuild       text eol=crlf
*.proj          text eol=crlf
*.props         text eol=crlf
*.ps1           text eol=crlf
*.resources     text eol=crlf
*.resx          text eol=crlf
*.rtf           text eol=crlf
*.ruleset       text eol=crlf
*.sh            text eol=lf
*.targets       text eol=crlf
*.txt           text eol=crlf
*.vb            text eol=crlf
*.xaml          text eol=crlf
*.xml           text eol=crlf

# These files will be treated as binary and won't be normalized.
*.png     binary
*.jepg    binary
*.sdf     binary
*.ico     binary
*.sln     binary
*.csproj  binary
*.vbproj  binary
