<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key=".Net Core Tools" value="https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet-eng/nuget/v3/index.json" />
    </packageSources>
    <trustedSigners>
        <clear />
        <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
        <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 2018-04-10 -->
        <certificate fingerprint="0E5F38F57DC1BCC806D8494F4F90FBCEDD988B46760709CBEEC6F4219AA6157D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
        <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 2021-02-16 -->
        <certificate fingerprint="5A2901D6ADA3D18260B9C6DFE2133C95D74B9EEF6AE0E5DC334C8454D1477DF4" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
        <!-- Subject Name: CN=NuGet.org Repository by Microsoft, valid from 2024-02-23 -->
        <certificate fingerprint="1F4B311D9ACC115C8DC8018B5A49E00FCE6DA8E2855F9F014CA6F34570BC482D" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
        <!-- sharwell = author of StyleCop.Analyzers -->
        <!-- test dependencies: -->
        <!-- meirb = Meir Blachman, author of FluentAssertions.Analyzers -->
        <!-- jonorossi = Jonathon Rossi, maintainer of Castle Project -->
        <!-- onovotny = Claire Novotny, author of Humanizer.Core -->
        <!-- SteveGilham = author of AltCover-->
        <!-- jamesnk = author of Newtonsoft.Json -->
        <!-- commandlineparser = author of CommandLineParser -->
        <!-- grpc-packages = author of Grpc.Tools -->
        <!-- Nsubstitute = author of NSubstitute -->
        <owners>protobuf-packages;Microsoft;sharwell;meirb;dotnetfoundation;castleproject;jonorossi;onovotny;fluentassertions;SteveGilham;jamesnk;commandlineparser;grpc-packages;Fody;NSubstitute</owners>
        </repository>
        <author name="Microsoft">
        <!-- Subject Name: CN=Microsoft Corporation, valid from 2023-07-27 -->
            <certificate fingerprint="566A31882BE208BE4422F7CFD66ED09F5D4524A5994F50CCC8B05EC0528C1353" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
            </author>
    </trustedSigners>
</configuration>
