<configuration>
  <system.web>
    <httpRuntime maxRequestLength="81920" executionTimeout="3600" />
    <!-- Sensitive: maxRequestLength is exprimed in KB, so 81920KB = 80MB  -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="83886080" />
        <!-- Sensitive: maxAllowedContentLength is exprimed in bytes, so 83886080B = 80MB  -->
