body {background-color: #4c8d00;}
.text {color: #ffffff;}
.accent {color: #ffffff;}
.flagtext {color: #1c8894;}
.flagtext2 {color: #ffffff;}
.indexhometext {color: #5fa5ac;}
.lines {background-color: #1c8894;}







.posteroverlay {top: 65px; left: 218px;}
.postertrailer {top: 501px; left: 239px;}
.postercompanion {top: 501px; left: 497px;}
.fanartoverlay {top: 128px; left: 92px;}
.fanarttrailer {top: 331px; left: 95px;}
.fanartcompanion {top: 331px; left: 497px;}



















































































































































































#noNMT{visibility:hidden; display:none; width:0; height:0;}
#noNMTNote{visibility:hidden; display:none; width:0; height:0;}