<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" />
    <pages validateRequest="FALSE" /> <!-- Noncompliant {{Make sure disabling ASP.NET Request Validation feature is safe here.}} -->
    <httpRuntime requestValidationMode="1.2" /> <!--Noncompliant-->
  </system.web>
</configuration>
