<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
<!-- We should not raise, because this file is not part of the project -->
    <pages validateRequest="false"/>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" maxRequestLength="81920"/>
  </system.web>
  <connectionStrings>
    <add name="myConnection" connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=" />
  </connectionStrings>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="83886080" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
