<h3>Component</h3>

@code {
    [Parameter]
    [SupplyParameterFromQuery]
    public bool Param { get; set; } // Noncompliant {{Component parameters can only receive query parameter values in routable components.}}
    //          ^^^^^

    [Parameter]
    [SupplyParameterFromQuery]
    public string MyString { get; set; } // Noncompliant
}