@page "/component"

<h3>Component</h3>

@code {
    [Parameter]
    [SupplyParameterFromQuery] // Compliant
    public bool Param { get; set; }

    [Parameter, SupplyParameterFromQuery]
    public int MyInt { get; set; } // Compliant

    [Parameter]
    public string SupplyParameterFromQueryAttributeMissing { get; set; } // Compliant: missing [SupplyParameterFromQuery]

    [SupplyParameterFromQuery]
    public string ParameterAttributeMissing { get; set; } // Compliant: missing [Parameter]
}