<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <pages
      validateRequest="false" />  <!-- Noncompliant -->
<!--  ^^^^^^^^^^^^^^^ -->
    <httpRuntime


      requestValidationMode

      =

      "0.0"


      />
    <!-- Noncompliant@-8 -->
  </system.web>
</configuration>
