<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Repox3" value="https://repox.jfrog.io/artifactory/api/nuget/v3/nuget" protocolVersion="3"/>
  </packageSources>
  <packageSourceCredentials>
    <Repox3>
      <add key="Username" value="%ARTIFACTORY_USER%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_PASSWORD%" />
    </Repox3>
  </packageSourceCredentials>
  <config>
    <add key="signatureValidationMode" value="accept" />
  </config>
  <trustedSigners>
    <clear />
  </trustedSigners>
</configuration>