<configuration>
  <system.web>
    <httpRuntime maxRequestLength="819200000000000000000" executionTimeout="3600" />
    <httpRuntime maxRequestLength="1" executionTimeout="3600" />
    <httpRuntime maxRequestLength="0" executionTimeout="3600" />
    <httpRuntime maxRequestLength="-1" executionTimeout="3600" />
    <httpRuntime maxRequestLength="-2147483648" executionTimeout="3600" />
    <httpRuntime maxRequestLength="0x7FFFFFFF" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="abcdefg" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
