<configuration>
  <system.web>
    <httpRuntime maxRequestLength="819200000000000000000" executionTimeout="3600" /> <!-- Noncompliant -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="abcdefg" />         <!-- Noncompliant FP -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
