
<p>The solution to all problems is: @(RaiseHere(21))</p> @* wrong location see https://sonarsource.atlassian.net/browse/NET-2052 *@
@*                                                            ^^^^^^^^^ *@
@*                                                                      ^^ Secondary@-1 *@

@code
{
    private int magicNumber = RaiseHere(42);
//                            ^^^^^^^^^
//                                      ^^ Secondary@-1
    private static int RaiseHere(int nb)
    {
        return nb;
    }
}