
<p>The solution to all problems is: @(RaiseHere())</p> @* Noncompliant *@
@*                                    ^^^^^^^^^ *@

@functions
{
    private int magicNumber = RaiseHere(); // Noncompliant
//                            ^^^^^^^^^
    private static int RaiseHere()
    {
        return 42;
    }
}