<?xml version="1.0" encoding="UTF-8"?>
<!--

    Maven and Sonar plugin for .Net
    Copyright (C) 2010 Jose Chillan and Alexandre Victoor
    mailto: jose.chillan@codehaus.org or alexvictoor@codehaus.org

    Sonar is free software; you can redistribute it and/or
    modify it under the terms of the GNU Lesser General Public
    License as published by the Free Software Foundation; either
    version 3 of the License, or (at your option) any later version.

    Sonar is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
    Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public
    License along with Sonar; if not, write to the Free Software
    Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02

-->

<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

  <!-- ===================================================================== -->
  <!--                                                                       -->
  <!--  Log4j Configuration                                                  -->
  <!--                                                                       -->
  <!-- ===================================================================== -->

  <!--
  | For more configuration infromation and examples see the Jakarta Log4j
  | owebsite: http://jakarta.apache.org/log4j
-->
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!-- ================================= -->
  <!-- Preserve messages in a local file -->
  <!-- ================================= -->

  <!-- A time/date based rolling appender -->
  <appender name="file" class="org.apache.log4j.FileAppender">
    <param name="File" value="target/logs/test.log" />
    <param name="Append" value="false" />

    <!-- Rollover at midnight each day -->
    <!--param name="DatePattern" value="'.'yyyy-MM-dd"/-->

    <!-- Rollover at the top of each hour
      <param name="DatePattern" value="'.'yyyy-MM-dd-HH"/>
    -->
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d %-5p %c [%M] - %m%n" />

      <!--
        The full pattern: Date MS Priority [Category] (Thread:NDC) Message\n <param name="ConversionPattern" value="%d %-5r %-5p [%c]
        (%t:%x) %m%n"/>
      -->
    </layout>
  </appender>

  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- ============================== -->
  <appender name="console" class="org.apache.log4j.ConsoleAppender">
    <param name="Target" value="System.out" />
    <param name="Threshold" value="DEBUG" />
    <layout class="org.apache.log4j.PatternLayout">
      <!-- The default pattern: Date Priority [Category] Message\n -->
      <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1} - %m%n" />
    </layout>
  </appender>


  <!-- ================ -->
  <!-- Limit categories -->
  <!-- ================ -->

  <!-- Limite la categorie spring -->
  <category name="org.springframework.transaction">
    <priority value="TRACE" />
  </category>

  <!-- Limite la categorie hibernate -->
  <category name="org.hibernate.transaction">
    <priority value="TRACE" />
  </category>

  <!-- Limite la categorie JOTM -->
  <category name="org.objectweb.jotm">
    <priority value="DEBUG" />
  </category>

  <!-- Limit the org.apache.commons category to INFO as its DEBUG is verbose -->
  <category name="org.apache.commons">
    <priority value="ERROR" />
  </category>

  <!-- category name="org.hibernate.type">
    <priority value="TRACE" />
  </category-->

  <!-- Sets sonar categories to DEBUG -->
  <!-- 
  -->
  <category name="org.sonar">
    <priority value="DEBUG" />
  </category>
  <category name="org.apache.maven.dotnet">
    <priority value="DEBUG" />
  </category>
  <!-- ======================= -->
  <!-- Setup the Root category -->
  <!-- ======================= -->
  <root>
    <priority value="INFO" />
    <appender-ref ref="console" />
    <appender-ref ref="file" />
  </root>
</log4j:configuration>