# WhiteSource documentation https://whitesource.atlassian.net/wiki/spaces/WD/pages/1544880156/Unified+Agent+Configuration+Parameters

excludes=**/*sources.jar **/*javadoc.jar **/its/projects/** **/analyzers/its/sources/**
fileSystemScan=False
resolveAllDependencies=False

maven.aggregateModules=True
maven.downloadMissingDependencies=False
maven.resolveDependencies=True
maven.runPreStep=False

nuget.resolvePackagesConfigFiles=True
nuget.resolveDependencies=True
nuget.preferredEnvironment=nuget
nuget.runPreStep=False

wss.url=https://saas-eu.whitesourcesoftware.com/agent

forceUpdate=true
checkPolicies=true
forceUpdate.failBuildOnPolicyViolation=true