<configuration>
  <system.web>
    <httpRuntime maxRequestLength="81920" executionTimeout="3600" /> <!-- Noncompliant {{Limit the content length of HTTP requests.}} -->
    <!--         ^^^^^^^^^^^^^^^^ -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="83886080" />         <!-- Noncompliant {{Limit the content length of HTTP requests.}} -->
        <!--           ^^^^^^^^^^^^^^^^^^^^^^^ -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
