@page
@using System

@{
    bool myBool = DateTime.Now.Millisecond % 2 == 0;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-width" />
    @if (!!myBool)
    {
        <title>Page</title>
    }
    else
    {
        <title>Page 2</title>
    }
</head>
<body>
</body>
</html>
