<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!-- Should not raise on DEBUG configuration -->
    <pages xdt:Transform="Replace" validateRequest="false" />
    <httpRuntime xdt:Transform="Replace" requestValidationMode="0.0" />
  </system.web>
</configuration>
