<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="plugins" type="Ember.Plugins.PluginSectionHandler, Ember.Plugins"/>
  </configSections>

  <system.net>
    <settings>
      <httpWebRequest useUnsafeHeaderParsing="true"/>
    </settings>
  </system.net>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="Modules"/>
    </assemblyBinding>
  </runtime>

  <plugins>
    <!-- <plugin class="Ember.Plugins.Dummy.DummyPlugin, Ember.Plugins" /> -->
    <plugin class="Ember.Plugins.Ember.EmberWorkAroundPlugin, Ember.Plugins"/>
  </plugins>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
