<configuration>
  <connectionStrings>
    <add connectionString="Server=localhost; Database=Test; User=SA; AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y"/>    <!-- Noncompliant {{"AuthToken" detected here, make sure this is not a hard-coded secret.}} -->
  </connectionStrings>
</configuration>
