<configuration>
  <connectionStrings>
    <clear />
    <add />
    <add name="bla" />
    <add connectionString="Server=localhost; Database=Test; User=SA; AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y"/> <!-- Noncompliant {{"AuthToken" detected here, make sure this is not a hard-coded secret.}} -->
    <!-- Noncompliant@+2 -->
    <add
      connectionString
      =
      "Server=localhost; Database=Test; User=SA; AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y" />
    <add >
    </add>
    <!--
      Commented is not supported
      <add connectionString="Server=localhost; Database=Test; User=SA; AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y"/>
    -->
    <add name="a" connectionString="Server=localhost; Database=Test; User=SA; AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y"/> <!-- Noncompliant -->
    <add name="a" connectionString="Server=localhost; Database=Test; User=SA; AuthToken:rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y"/> <!-- Noncompliant -->
    <add name="a" connectionString="Server=localhost; Database=Test; User=SA; AuthToken="/> <!-- Compliant, should not raise on empty passwords -->
    <add name="a" connectionString="Server=localhost; Database=Test; Integrated Security=True"/> <!-- Compliant -->
    <!-- Noncompliant@+2 -->
    <add name="EF6-with-quotes"
         connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;
                           provider=System.Data.SqlClient;
                           provider connection string=
                               &quot;Server=localhost; Database=Test;
                                     User=SA;
                                     AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y;
                                     MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient"/>
    <add name="EF6-singleline" connectionString="metadata=res://*/Northwind.csdl;provider=System.Data.SqlClient;provider connection string=&quot;Server=localhost; Database=Test;User=SA;AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y&quot;" providerName="System.Data.EntityClient"/> <!-- Noncompliant -->
    <remove name="a" />
  </connectionStrings>
  <appSettings>
    <add key="Connection" value="Server=localhost; Database=Test; User=SA; AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y"/> <!-- Noncompliant -->
  </appSettings>
  <location path="/subpath">
    <connectionStrings>
      <add name="subpath" connectionString="Server=localhost; Database=Test; User=SA; AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y"/> <!-- Noncompliant -->
    </connectionStrings>
  </location>
  <CustomSection>
    <CustomElement CustomAttribute="AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y" /> <!-- Noncompliant -->
    <CustomElement>AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y</CustomElement> <!-- Noncompliant -->
    <AuthToken>rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y</AuthToken> <!-- Noncompliant -->
    <Compliant>rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y</Compliant>
  </CustomSection>
  <Empty>
    <AuthToken></AuthToken> <!-- Compliant, this rule doesn't look for empty passwords -->
  </Empty>
  <CustomNamespaces xmlns:xxx="http://dotnet.sonarsource.com">
    <xxx:AuthToken>rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y</xxx:AuthToken> <!-- Noncompliant -->
    <Element xxx:CustomAttribute="AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y" /> <!-- Noncompliant -->
  </CustomNamespaces>
  <CustomNamespaces xmlns="http://dotnet.sonarsouce.com">
    <AuthToken>rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y</AuthToken> <!-- Noncompliant -->
    <Element CustomAttribute="AuthToken=rf6acB24J//1FZLRrKpjmBUYSnUX5CHlt/iD5vVVcgVuAIOB6hzcWjDnv16V6hDLevW0Qs4hKPbP1M4YfuDI16sZna1/VGRLkAbTk6xMPs4epH6A3ZqSyyI-H92y" /><!-- Noncompliant -->
  </CustomNamespaces>
</configuration>
