@page "/razor"
@namespace RazorNamespace
<p>Current count: @currentCount</p>                <!-- FN: comment -->

@currentCount                                      <!-- FN: comment -->

@code {                                            // FN: line of code (location mapping issue)
    private int currentCount = 0;                  // code line

    public class MyClass { }                       // code line
}                                                  // FN: line of code, comment (location mapping issue)

<p>Current time: @(DateTime.Now)</p>               <!-- code line, FN: comment -->

@for (var i = 0; i < 5; i++)                       // code line
{                                                  <!-- code line, FN: comment -->
    <text>Value: @i</text>                         <!-- FN: comment -->
    <text>test</text>
}                                                  <!-- code line, FN: comment -->

@{                                                 // FN: code line (location mapping issue)
    void RenderName(string name)                   // code line
    {                                              // code line
        <p>Name: <strong>@name</strong></p>        <!-- FN: comment -->
        <p>Name: <strong>Hardcoded</strong></p>
    }                                              <!-- code line, FN: comment -->

    RenderName("Mahatma Gandhi");                  // code line
    RenderName("Martin Luther King, Jr.");         // code line
}                                                  // FN: line of code, comment

@if (true)                                         // code line
{                                                  // code line
}                                                  <!-- code line, FN: comment -->

@for (var i = 0; i < 5; i++)                       // code line
{                                                  // code line
    // comment
    @:Name: @i                                     // code line, FN: comment 
}                                                  <!-- code line, FN: comment -->

<Component>
    @currentCount                                  <!-- FN: comment -->
</Component>

<!-- FN: comment -->
