<configuration>
  <system.web>
    <httpRuntime maxRequestLength="25600" />  <!-- Noncompliant  -->
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="83886080" /> <!-- Noncompliant -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
