@page "/cases"

<p>Current count: @currentCount</p>

@currentCount

<!-- Tabs are intended on the next line  -->
					@for (int i = 0; i < currentCount; i++)
					{ }

<button @onclick="IncrementCount">Increment</button>

@IncrementAmount

@code {
    private int currentCount = 0;

    [Parameter]
    public int IncrementAmount { get; set; } = 1;

    private void IncrementCount()
    {
        currentCount += IncrementAmount;
        IncrementAmount += 1;
    }
}
