<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="Repox" value="https://repox.jfrog.io/artifactory/api/nuget/v3/nuget/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <Repox>
      <add key="Username" value="%ARTIFACTORY_USER%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_PASSWORD%" />
    </Repox>
  </packageSourceCredentials>
  <config>
    <clear />
    <add key="signatureValidationMode" value="require" />
  </config>
  <trustedSigners>
    <repository name="nuget.org" serviceIndex="https://api.nuget.org/v3/index.json">
        <certificate fingerprint="0e5f38f57dc1bcc806d8494f4f90fbcedd988b46760709cbeec6f4219aa6157d" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
        <certificate fingerprint="5a2901d6ada3d18260b9c6dfe2133c95d74b9eef6ae0e5dc334c8454d1477df4" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
        <!-- StyleCop.Analyzers: sharwell -->
        <!-- NUnit: charliepoole;OsirisTerje;rprouse -->
        <!-- coverlet.collector: tonerdo, dotnetfoundation, MarcoRossignoli, daveMueller -->
        <!-- Microsoft.VisualStudio.UnitTesting: lizoc -->
        <!-- NUnit.Analyzers: mikkelbu -->
        <!-- xunit.core: dotnetfoundation xunit -->
        <owners>Microsoft;sharwell;dotnetfoundation;charliepoole;OsirisTerje;rprouse;tonerdo;MarcoRossignoli;daveMueller;lizoc;mikkelbu;xunit</owners>
      </repository>
      <author name="Microsoft">
        <!-- Subject Name: CN=Microsoft Corporation, valid from 2023-07-27 -->
        <certificate fingerprint="566A31882BE208BE4422F7CFD66ED09F5D4524A5994F50CCC8B05EC0528C1353" hashAlgorithm="SHA256" allowUntrustedRoot="false" />
      </author>
  </trustedSigners>
</configuration>
