<html>
<body id="mybody" background="diffuse_background.png" ONLOADSET="zeropos" class="parent" BGCOLOR="#222222" COLOR="#FFFFFF">
<link rel="stylesheet" type="text/css" href="default.css" />
<div class="backg">
<img width="200px" src="home/Logo.png">
</div>
<FONT COLOR="#FFFFFF">
<br>
<br>
<br>
<br>
<br>
<br>
<center>
<h3>Skin build by</h3>
<h2>Ember Media Manager - NMT Jukebox Builder (Module)</h2>
<br>
<h3>Ember Media Manager (aka EMM or Ember) is an open source Movie and TV Show collections management tool.</h3>
<br>
<h3>Ember Media Manager Version: <$EVERSION></h3>
<h3>NMT Jukebox Builder Version: <$MVERSION></h3>
<h3>Skin Version: <$SVERSION></h3>
<br>
<br>
<br>
</center>
</FONT>
</body>
</html>