<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="myConnection1" connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=" /> <!-- Noncompliant {{Use a secure password when connecting to this database.}} -->
    <add name="myConnection2" connectionString="PASSWORD=" /> <!-- FN -->
    <add name="myConnection3" connectionString="Password=" /> <!-- Noncompliant {{Use a secure password when connecting to this database.}} -->
    <add name="myConnection4" connectionString="Server=myServerAddress;Database=myDataBase;Integrated Security=True" />
    <add name="myConnection4" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Integrated Security=True" />
  </connectionStrings>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <!-- ASP.NET 2.0 -->
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAH2</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <configProtectedData defaultProvider="RsaProtectedConfigurationProvider">
    <providers>
      <add name="RsaProtectedConfigurationProvider"
        type="System.Configuration.RsaProtectedConfigurationProvider" />
    </providers>
  </configProtectedData>
</configuration>
