<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <clear />
    <add name="myConnection1" connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=" /> <!-- Noncompliant {{Use a secure password when connecting to this database.}} -->
    <add name="myConnection2" connectionString="PASSWORD=" /> <!-- FN -->
    <add name="myConnection3" connectionString="Password=" /> <!-- Noncompliant {{Use a secure password when connecting to this database.}} -->
    <add name="myConnection4" connectionString="Server=myServerAddress;Database=myDataBase;Integrated Security=True" />
    <add name="myConnection4" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Integrated Security=True" />
    <add name="CompliantNoPassword" connectionString="Server=myServerAddress;Database=myDataBase;Trusted_Connection=True" />
    <add name="CompliantTrustedConnectionTrue" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Trusted Connection=True" />
    <add name="CompliantIntegratedSecurityTrue" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Integrated Security=true" />
    <add name="CompliantTrustedConnectionYes" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Trusted Connection=Yes" />
    <add name="CompliantIntegratedSecurityYes" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Integrated Security=yes" />
    <add name="CompliantIntegratedSecuritySSPI" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Integrated Security=SSPI" />
    <add name="CompliantTrusted_ConnectionTrue" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Trusted_Connection=True" />
    <add name="CompliantIntegrated_SecurityTrue" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Integrated_Security=true" />
    <add name="CompliantTrusted_ConnectionYes" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Trusted_Connection=Yes" />
    <add name="CompliantIntegrated_SecurityYes" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Integrated_Security=yes" />
    <add name="CompliantIntegrated_SecuritySSPI" connectionString="Server=myServerAddress;Database=myDataBase;Password=;Integrated_Security=sspi" />
    <add name="CompliantForS2115_NoncompliantForS2068" connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=myPassword" />
    <!--for coverage-->
    <add name="Name" providerName="System.Data.ProviderName" />
  </connectionStrings>
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider">
    <!-- ASP.NET 2.0 -->
    <EncryptedData>
      <CipherData>
        <CipherValue>AQAAANCMnd8BFdERjHoAwE/Cl+sBAAAAH2</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <configProtectedData defaultProvider="RsaProtectedConfigurationProvider">
    <providers>
      <add name="RsaProtectedConfigurationProvider"
        type="System.Configuration.RsaProtectedConfigurationProvider" />
    </providers>
  </configProtectedData>
</configuration>
