<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add
      name="myConnection1"
      connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=" />  <!-- Noncompliant -->
<!--  ^^^^^^^^^^^^^^^^ -->

    <add name="myConnection2"
        connectionString
         =
         "Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password="
     />
    <!-- Noncompliant@-4 -->
  </connectionStrings>
</configuration>
