<configuration>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="83886080" />         <!-- Noncompliant {{Make sure the content length limit is safe here.}} -->
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
