<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>  <!-- Noncompliant {{"password" detected here, make sure this is not a hard-coded credential.}} -->
  </connectionStrings>
  <appSettings>
    <add xdt:Transform="Replace" key="Connection" value="Server=localhost; Database=Test; User=SA; Password=Secret123"/>  <!-- Noncompliant -->
  </appSettings>
</configuration>
