<configuration>
  <connectionStrings>
    <clear />
    <add />
    <add name="bla" />
    <add connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>    <!-- FN {{"password" detected here, make sure this is not a hard-coded credential.}} -->
    <add
      connectionString
      =
      "Server=localhost; Database=Test; User=SA; Password=Secret123" /> <!-- FN -->
    <add >
    </add>
    <!-- -->
    <add name="a" connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/> <!-- FN -->
    <remove name="a" />
  </connectionStrings>
  <location path="/subpath">
    <connectionStrings>
      <add name="subpath" connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>   <!-- FN -->
    </connectionStrings>
  </location>
</configuration>
