<configuration>
  <connectionStrings>
    <clear />
    <add />
    <add name="bla" />
    <add connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>    <!-- FN {{"password" detected here, make sure this is not a hard-coded credential.}} -->
    <add
      connectionString
      =
      "Server=localhost; Database=Test; User=SA; Password=Secret123" /> <!-- FN -->
    <add >
    </add>
    <!-- -->
    <add name="a" connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/> <!-- FN -->
    <add name="a" connectionString="Server=localhost; Database=Test; User=SA; Password="/>          <!-- Compliant, should not raise on empty passwords -->
    <add name="a" connectionString="Server=localhost; Database=Test; Integrated Security=True"/>    <!-- Compliant -->
    <remove name="a" />
  </connectionStrings>
  <appSettings>
    <add key="Connection" value="Server=localhost; Database=Test; User=SA; Password=Secret123"/>    <!-- FN -->
  </appSettings>
  <location path="/subpath">
    <connectionStrings>
      <add name="subpath" connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>   <!-- FN -->
    </connectionStrings>
  </location>
  <CustomSection>
    <CustomElement CustomAttribute="Password=42" />      <!-- FN -->
    <CustomElement>Password=Secret42</CustomElement>    <!-- FN -->
    <Password>42</Password>                             <!-- FN -->
  </CustomSection>
</configuration>
