<configuration>
  <connectionStrings>
    <clear />
    <add />
    <add name="bla" />
    <add connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>    <!-- Noncompliant {{"password" detected here, make sure this is not a hard-coded credential.}} -->
    <!-- Noncompliant@+2 -->
    <add
      connectionString
      =
      "Server=localhost; Database=Test; User=SA; Password=Secret123" />
    <add >
    </add>
    <!--
      Commented is not supported
      <add connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>
    -->
    <add name="a" connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/> <!-- Noncompliant -->
    <add name="a" connectionString="Server=localhost; Database=Test; User=SA; Password="/>          <!-- Compliant, should not raise on empty passwords -->
    <add name="a" connectionString="Server=localhost; Database=Test; Integrated Security=True"/>    <!-- Compliant -->
    <remove name="a" />
  </connectionStrings>
  <appSettings>
    <add key="Connection" value="Server=localhost; Database=Test; User=SA; Password=Secret123"/>    <!-- Noncompliant -->
    <add key="SomeUrl" value="scheme://user:azerty123@domain.com" />                                <!-- Noncompliant {{Review this hard-coded URI, which may contain a credential.}}" -->
  </appSettings>
  <location path="/subpath">
    <connectionStrings>
      <add name="subpath" connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>   <!-- Noncompliant -->
    </connectionStrings>
  </location>
  <CustomSection>
    <CustomElement CustomAttribute="Password=42" />     <!-- Noncompliant -->
    <CustomElement>Password=Secret42</CustomElement>    <!-- Noncompliant -->
    <Password>42</Password>                             <!-- Noncompliant -->
    <Compliant>42</Compliant>
  </CustomSection>
  <CustomNamespaces xmlns:xxx="http://dotnet.sonarsource.com">
    <xxx:Password>42</xxx:Password>                     <!-- Noncompliant -->
    <Element xxx:CustomAttribute="Password=42" />       <!-- Noncompliant -->
  </CustomNamespaces>
  <CustomNamespaces xmlns="http://dotnet.sonarsouce.com">
    <Password>42</Password>                             <!-- Noncompliant -->
    <Element CustomAttribute="Password=42" />           <!-- Noncompliant -->
  </CustomNamespaces>
</configuration>
