<?xml version="1.0"?>
<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.web>
    <!-- This is compliant, because we ignore Debug file name Web.Debug.config-->
    <pages xdt:Transform="Replace" validateRequest="false" />
    <httpRuntime xdt:Transform="SetAttributes" xdt:Locator="Match(targetFramework)" targetFramework="4.8" requestValidationMode="0.0" />
  </system.web>
</configuration>
