<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Name"
     providerName="System.Data.ProviderName"
     connectionString="Valid Connection String;" />
    <add name="Name"
     providerName="System.Data.ProviderName"
     connectionString="Server=myServerAddress;Database=myDataBase;User Id=myUsername;Password=" /> <!-- FN -->
  </connectionStrings>
</configuration>
