<configuration>
  <system.web>
    <httpRuntime maxRequestLength="8192" executionTimeout="3600" />
  </system.web>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="8388608" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
