<configuration>
  <connectionStrings>
    <clear />
    <add />
    <add name="bla" />
    <add connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>    <!-- Noncompliant {{"password" detected here, make sure this is not a hard-coded credential.}} -->

    <!--https://community.sonarsource.com/t/doubt-about-not-detected-hotspot-in-web-config-about-hardcoded-credentials/127100-->
    <add connectionString="Server=localhost; Database=Test; User=SA; Password={Credentials.Password}"/>    <!-- Noncompliant FP -->

    <!-- Noncompliant@+2 -->
    <add
      connectionString
      =
      "Server=localhost; Database=Test; User=SA; Password=Secret123" />
    <add >
    </add>
    <!--
      Commented is not supported
      <add connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>
    -->
    <add name="a" connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/> <!-- Noncompliant -->
    <add name="a" connectionString="Server=localhost; Database=Test; User=SA; Password="/>          <!-- Compliant, should not raise on empty passwords -->
    <add name="a" connectionString="Server=localhost; Database=Test; Integrated Security=True"/>    <!-- Compliant -->
    <!-- Noncompliant@+2 -->
    <add name="EF6-with-quotes"
         connectionString="metadata=res://*/Northwind.csdl|res://*/Northwind.ssdl|res://*/Northwind.msl;
                           provider=System.Data.SqlClient;
                           provider connection string=
                               &quot;Server=localhost; Database=Test;
                                     User=SA;
                                     Password=Secret123;
                                     MultipleActiveResultSets=True&quot;"
         providerName="System.Data.EntityClient"/>
    <add name="EF6-singleline" connectionString="metadata=res://*/Northwind.csdl;provider=System.Data.SqlClient;provider connection string=&quot;Server=localhost; Database=Test;User=SA;Password=Secret123&quot;" providerName="System.Data.EntityClient"/>  <!-- Noncompliant -->
    <remove name="a" />
  </connectionStrings>
  <appSettings>
    <add key="Connection" value="Server=localhost; Database=Test; User=SA; Password=Secret123"/>    <!-- Noncompliant -->
    <add key="SomeUrl" value="scheme://user:azerty123@domain.com" />                                <!-- Noncompliant {{Review this hard-coded URI, which may contain a credential.}}" -->
  </appSettings>
  <location path="/subpath">
    <connectionStrings>
      <add name="subpath" connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>   <!-- Noncompliant -->
    </connectionStrings>
  </location>
  <CustomSection>
    <CustomElement CustomAttribute="Password=42" />     <!-- Noncompliant -->
    <CustomElement>Password=Secret42</CustomElement>    <!-- Noncompliant -->
    <Password>42</Password>                             <!-- Noncompliant -->
    <Compliant>42</Compliant>
  </CustomSection>
  <Empty>
    <Password></Password>                               <!-- Compliant, this rule doesn't look for empty passwords -->
  </Empty>
  <CustomNamespaces xmlns:xxx="http://dotnet.sonarsource.com">
    <xxx:Password>42</xxx:Password>                     <!-- Noncompliant -->
    <Element xxx:CustomAttribute="Password=42" />       <!-- Noncompliant -->
  </CustomNamespaces>
  <CustomNamespaces xmlns="http://dotnet.sonarsouce.com">
    <Password>42</Password>                             <!-- Noncompliant -->
    <Element CustomAttribute="Password=42" />           <!-- Noncompliant -->
  </CustomNamespaces>
</configuration>
