<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings xdt:Transform="Replace">
    <add connectionString="Server=localhost; Database=Test; User=SA; Password=Secret123"/>  <!-- Compliant, we don't raise in this file -->
  </connectionStrings>
</configuration>
