# .github/workflows/slack_notify.yml
---
name: Slack Notifications
on:
 check_run:
  types: [rerequested, completed]

jobs:
 slack-notifications:
  permissions:
   id-token: write  # to authenticate via OIDC
  uses: SonarSource/gh-action_build-notify/.github/workflows/main.yaml@v1
  if: github.event.check_run.name == 'Sonar.Net'
  with:
    slackChannel: squad-dotnet
