---
name: Slack Notifications
on:
  workflow_dispatch: # for testing
  check_suite:
    types: [completed]

permissions:
  contents: read
  checks: read
  id-token: write

jobs:
  LogPayload_job:
    name: Log payload
    runs-on: github-ubuntu-latest-s
    steps:
      - uses: sonarsource/gh-action-lt-backlog/LogPayload@v2
  notify:
    runs-on: github-ubuntu-latest-s # Public GitHub hosted runner required, Self-Hosted runners do not support Docker-in-Docker
    permissions:
      id-token: write
    if: >- # https://docs.github.com/en/graphql/reference/enums#checkconclusionstate
      github.event.check_suite.head_branch == 'master'
      && !contains(fromJson('["SUCCESS", "NEUTRAL", "SKIPPED"]'), github.event.check_suite.conclusion)
    steps:
      - name: Vault Secrets
        id: secrets
        uses: SonarSource/vault-action-wrapper@v3
        with:
          secrets: development/kv/data/slack token | SLACK_TOKEN;

      - name: Slack Notification
        uses: rtCamp/action-slack-notify@e31e87e03dd19038e411e38ae27cbad084a90661 # v2.3.3
        env:
          SLACK_TOKEN: ${{ fromJSON(steps.secrets.outputs.vault).SLACK_TOKEN }}
          SLACK_CHANNEL: squad-dotnet # for testing: notification_tester
          SLACK_TITLE: Build failed
          SLACK_MESSAGE: |
            **TESTING** Pipeline [*${{ github.event.workflow_run.display_title || github.event.workflow_run.name || 'unknown' }}* failed](${{ github.event.workflow_run.html_url || 'https://papertoilet.com/' }}) (${{ github.event.check_suite.conclusion }}) in `${{ github.repository }}`
          SLACK_USERNAME: NotifierBot
          SLACK_COLOR: danger
          MSG_MINIMAL: true
          SLACKIFY_MARKDOWN: true
          SLACK_FOOTER: ' '
          SLACK_MSG_AUTHOR: ' '
          SLACK_ICON_EMOJI: dotnet